<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GregorianHolidays</key>
	<dict>
		<key>1225</key>
		<string>圣诞节</string>
		<key>1209</key>
		<string>世界足球日</string>
		<key>1204</key>
		<string>全国法制宣传日</string>
		<key>1203</key>
		<string>世界残疾人日</string>
		<key>1201</key>
		<string>世界爱滋病日</string>
		<key>1125</key>
		<string>国际消除对妇女的暴力日</string>
		<key>1117</key>
		<string>国际大学生节</string>
		<key>1114</key>
		<string>世界糖尿病日</string>
		<key>1109</key>
		<string>消防宣传日</string>
		<key>1108</key>
		<string>中国记者日</string>
		<key>1031</key>
		<string>万圣节</string>
		<key>1028</key>
		<string>中国男性健康日</string>
		<key>1024</key>
		<string>联合国日</string>
		<key>1017</key>
		<string>国际消除贫困日</string>
		<key>1016</key>
		<string>世界粮食日</string>
		<key>1015</key>
		<string>国际盲人节</string>
		<key>1014</key>
		<string>世界标准日</string>
		<key>1010</key>
		<string>实际精神卫生日</string>
		<key>1009</key>
		<string>世界邮政日</string>
		<key>1008</key>
		<string>全国高血压日</string>
		<key>1005</key>
		<string>世界教师节</string>
		<key>1004</key>
		<string>世界动物日</string>
		<key>1001</key>
		<string>国庆节</string>
		<key>0927</key>
		<string>世界旅游日</string>
		<key>0921</key>
		<string>世界停火日</string>
		<key>0920</key>
		<string>全国爱牙日</string>
		<key>0916</key>
		<string>国际臭氧层保护日</string>
		<key>0910</key>
		<string>中国教师节</string>
		<key>0908</key>
		<string>国际扫盲日</string>
		<key>0812</key>
		<string>国际青年节</string>
		<key>0801</key>
		<string>建军节</string>
		<key>0711</key>
		<string>世界人口日</string>
		<key>0707</key>
		<string>中国人民抗日战争纪念日</string>
		<key>0701</key>
		<string>建党日</string>
		<key>0626</key>
		<string>国际禁毒日</string>
		<key>0625</key>
		<string>全国土地日</string>
		<key>0623</key>
		<string>国际奥林匹克日</string>
		<key>0617</key>
		<string>世界防止荒漠化和干旱日</string>
		<key>0606</key>
		<string>全国爱眼日</string>
		<key>0605</key>
		<string>世界环境日</string>
		<key>0601</key>
		<string>国际儿童节</string>
		<key>0531</key>
		<string>国际无烟日</string>
		<key>0523</key>
		<string>国际牛奶日</string>
		<key>0522</key>
		<string>国际生物多样性日</string>
		<key>0520</key>
		<string>全国学生营养日</string>
		<key>0517</key>
		<string>世界电信日</string>
		<key>0515</key>
		<string>国际家庭日</string>
		<key>0512</key>
		<string>国际护士节</string>
		<key>0508</key>
		<string>世界红十字日</string>
		<key>0504</key>
		<string>中国青年节</string>
		<key>0503</key>
		<string>世界哮喘日</string>
		<key>0501</key>
		<string>国际劳动节</string>
		<key>0426</key>
		<string>世界知识产权日</string>
		<key>0422</key>
		<string>世界地球日</string>
		<key>0407</key>
		<string>世界为生日</string>
		<key>0405</key>
		<string>清明节</string>
		<key>0401</key>
		<string>愚人节</string>
		<key>0324</key>
		<string>世界防止结核病日</string>
		<key>0323</key>
		<string>世界气象日</string>
		<key>0322</key>
		<string>世界水日</string>
		<key>0321</key>
		<string>世界森林日 世界睡眠日</string>
		<key>0315</key>
		<string>世界消费者权益日</string>
		<key>0314</key>
		<string>国际警察日 白色情人节</string>
		<key>0312</key>
		<string>中国植树节</string>
		<key>0309</key>
		<string>保护母亲河日</string>
		<key>0308</key>
		<string>国际妇女节</string>
		<key>0305</key>
		<string>青年志愿者服务日</string>
		<key>0303</key>
		<string>全国爱耳日</string>
		<key>0301</key>
		<string>国际海报日</string>
		<key>0214</key>
		<string>情人节</string>
		<key>0202</key>
		<string>世界湿地日</string>
		<key>0101</key>
		<string>元旦</string>
	</dict>
	<key>ChineseHolidays</key>
	<dict>
		<key>1230</key>
		<string>除夕</string>
		<key>1223</key>
		<string>小年</string>
		<key>1208</key>
		<string>腊八节</string>
		<key>0909</key>
		<string>重阳节</string>
		<key>0815</key>
		<string>中秋节</string>
		<key>0707</key>
		<string>乞巧节(中国情人节)</string>
		<key>0505</key>
		<string>端午节</string>
		<key>0115</key>
		<string>元宵节</string>
		<key>0101</key>
		<string>春节</string>
	</dict>
</dict>
</plist>
